
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#corpo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 180px;
  background-color: #a3aab1;
  border-radius: 5px;
}
#corpo legend{
  font-size: .8rem;
  text-align: right;
}
.tabela .btn-sup{
  font-size: .8rem;
  height: 20px;
  border-radius: 10px;
}
.tabela .btn-sup:focus{
  background-color: #16b130;
  border: none;
}


#visor {
  margin-bottom: 10px;
  text-align:right;
  border: 4px #ccc groove;
  border-radius: 5px;
}

.tabela td input {
  width: 34px;
  height: 24px;
}

.tabela .numero:focus {
  background-color: #fffc33;
  border: 1px solid #ccc;
}
.oper{
  background-color:#bbb;
  transition: all 0.2s;
}
.oper:focus{
  background-color:#665;
}
